* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: #000;
}
.boolflix {
  color: red;
  margin: 30px;
  font-size: 45px;
}
.menu {
  margin: 50px;
}
.menu li{
  color: #fff;
  display: inline;
  list-style: none;
  margin: 5px;
  font-size: 18px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.input {
  width: 200px;
  height: 30px;
  padding: 5px;
  background-color: white;
}
#button {
  margin-left: 10px;
  padding: 4px;
}
.search {
  margin: 40px;
  margin-right: 40px;
}
.lista-film {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  line-height: 20px;
  padding: 30px;
}
.list-box {
  position: relative;
}
.lista-program {
  position: absolute;
  height: 300px;
  width: 200px;
  margin: 5px;
  padding: 5px;
  background-color: rgba(48, 48, 48,0.8);
  overflow-y: auto;
  display: none;
  color: white;
}
.lista-program h4 {
  margin-top: 10px;
}
.inline {
  display: inline-block;
}
.active{
  display: block;
}
.post {
  margin: 5px;
}
.overview {
  font-size: 12px;
}
.star {
  color: #FFD700;
}
.tipo {
  text-align: center;
  text-transform: uppercase;
  color: white;
  line-height: 25px;
}
.box-tipo {
  height: 25px;
  width: 100%;
  background-color: red;
}
