* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: #000;
}
.boolflix {
  color: red;
  margin: 30px;
}
.menu {
  margin: 40px;
}
.menu li{
  color: #fff;
  display: inline;
  list-style: none;
  margin: 5px;
  font-size: 15px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.input {
  width: 130px;
  height: 30px;
  padding: 5px;
  background-color: white;
}
#button {
  margin-left: 10px;
  padding: 4px;
}
.search {
  margin: 40px;
}
.lista-film {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.list-box {
  position: relative;
}
.lista-program {
  position: absolute;
  height: 300px;
  width: 200px;
  margin: 5px;
  padding: 5px;
  background-color: rgba(181, 184, 182,0.9);
  overflow-y: auto;
  display: none;
}
.active{
  display: block;
}
.post {
  margin: 5px;
}
.overview {
  font-size: 12px;
}
